#sidebar {
  background: antiquewhite;
}
#sidebar header {
  margin: 1.5rem 0;
}
.nav-link {
  box-sizing: border-box;
  position: relative;
  display: block;
  margin: .5rem 0;
  padding-top: .5em;
  padding-bottom: .5em;
  cursor: pointer;
}
.nav-link:link {
  color: inherit;
  text-decoration: none;
}
.nav-link:visited {
  color: inherit;
}
.nav-link > i {
  width: 1.5em;
}
.nav-link:hover:not(.is-active) {
  background-color: #d6d7d9;
}
.nav-link:hover:not(.is-active)::after {
  content: " ";
  position: absolute;
  top: 0;
  right: -0.55rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1rem 0 1rem .6rem;
  border-color: transparent;
  border-left-color: #d6d7d9;
}
.nav-link.is-active {
  background-color: white;
  border: 1px solid black;
  border-right: none;
  border-left: none;
}
.nav-link.is-active::before {
  content: " ";
  position: absolute;
  top: -1px;
  right: -0.75rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1.1rem 0 1.1rem .75rem;
  border-color: transparent;
  border-left-color: black;
}
.nav-link.is-active::after {
  content: " ";
  position: absolute;
  top: 0;
  right: -0.7rem;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 1rem 0 1rem .7rem;
  border-color: transparent;
  border-left-color: white;
}
